* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
}

/* SIDEBAR */

.sidebar {
  width: 240px;
  background: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #eee;
}

.logo {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-item {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.menu-item:hover {
  background: #e8f5e9;
  color: #1b5e20;
}

.sidebar-bottom p {
  margin: 10px 0;
  cursor: pointer;
  color: #777;
}

/* CONTENT */

.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TOPBAR */

.topbar {
  height: 70px;
  background: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.topbar input {
  width: 250px;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  background: #1b5e20;
  border-radius: 50%;
}

/* MAIN */

.dashboard-main {
  padding: 30px;
  flex: 1;
}

.card-area {
  margin-top: 30px;
}

.big-card {
  background: #fff;
  height: 350px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}